/** Import inter font family **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: var(--global-fnt-color-l1);
    list-style: none;
    text-decoration: none;
}

.span-index{ color: var(--global-fnt-color-l2); }

/* Estilos para el texto seleccionado */
::selection {
    background-color: #00FF7625; /* Cambia el color de fondo del texto seleccionado */
    color: var(--global-fnt-color-l2); /* Cambia el color del texto seleccionado */
}

:root {

    /** Color set **/
    --global-fnt-color-l1: #D3D3D3;
    --global-fnt-color-l2: #00FF76;
    --global-fnt-color-l3: #098944;

    --global-bck-color-l1: #131313;

    --global-bck-hvr-color-l1: #1b1b1b;
    --global-brd-color-l1: #1B1B1B;

}

body{
    width: 100%;
    background-color: var(--global-bck-color-l1);
    position: relative;
}

section{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

header {
    width: 100%;

    & .tablinks{
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid var(--global-brd-color-l1);
        background: none;
        cursor: pointer;
    }

    & button.active{
        color: var(--global-fnt-color-l2);

        & #countPro{
            color: var(--global-fnt-color-l3);
        }
    }
}

main{
    flex-grow: 1;

    #project{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(428px, 1fr));
        gap: 15px;
        position: relative;

        & .project-js{
            width: 100%;
            border: 1px solid var(--global-brd-color-l1);
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            
            &::before {
                content: '';
                position: absolute;
                z-index: -2;
                left: -50%;
                top: -50%;
                width: 150%;
                height: 150%;
                background-color: var(--global-bck-color-l1);
                background-repeat: no-repeat;
                background-size: 50% 50%, 50% 50%;
                background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                background-image: none;
                animation: rotate 4s linear infinite reverse;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 1px;
                top: 1px;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                background: var(--global-bck-color-l1);
                border-radius: 5px;
            }

            &:nth-child(1){
                &::before{
                    background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(#00FF76, #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
                    animation: rotate1 3s linear infinite reverse;
                    animation-delay: 2s;
                    opacity: 0;
                }
            }

            &:nth-child(2){
                &::before{
                    background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(#00FF76, #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
                    animation: rotate2 6s linear infinite reverse;
                    animation-delay: 1s;
                    opacity: 0;
                }
            }

            &:nth-child(3){
                &::before{
                    background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(#00FF76, #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
                    animation: rotate2 3s linear infinite reverse;
                    animation-delay: 5s;
                    opacity: 0;
                }
            }
            
            &:nth-child(4){
                &::before{
                    animation-delay: 7s;
                    opacity: 0;
                }
            }

            &:nth-child(5){
                &::before{
                    animation-delay: 5s;
                    opacity: 0;
                }
            }

            & h2 {
                padding: 15px;
                font-size: var(--index-fnt-size-18px);
                font-weight: var(--index-fnt-weight);
            }

            & a{
                display: flex;
                gap: 10px;
                padding: 15px;
                border-top: 1px solid var(--global-brd-color-l1);
                text-decoration: none;
            }

            & a:hover{
                transition: .3s ease;
                text-decoration: underline;
                background-color: var(--index-bck-hvr-color);
            }
        }
    }
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

    & span {
        .download-cvc:hover {
            color: var(--global-fnt-color-l2);
        }
    }

    & .footer-links-inf{

        ul {
            width: 100%;
            display: flex;
            gap: 5px;
            justify-content: flex-end;
            align-items: center;

            & .footer-links-menu{
                display: block;
                padding: 10px 12px;
                border-radius: 50px;
                border: 1px solid var(--global-brd-color-l1);
            }

            & .footer-links-menu:hover{
                background-color: var(--global-bck-color-l2);
                border: 1px solid var(--global-fnt-color-l3);
                transition: all .3s ease;
            }
        }

        & span {
            display: block;
            margin-top: 5px;
        }
    }

}

#aurora{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: -1000;

    display: flex;
    justify-content: center;

    & .aurora{
        width: 340px;
        height: 340px;
        /* background-color: #12492b; */
        filter: blur(350px);
        position: absolute;
        bottom: -200px;
        display: flex;
        place-items: center;
        border-radius: 50%;

        animation: aurora-animation 10s infinite reverse;
    }
}

@keyframes aurora-animation {
    0% {background-color: #12492b;}
    50% {background-color: #286e47;}
    100% {background-color: #12492b;}
}

.skils-learn{

    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(428px, 1fr));

    & .skills,  .learn,  .exper{
        height: 180px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        border: 1px solid var(--global-brd-color-l1);
        border-radius: 5px;

        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            z-index: -2;
            left: -50%;
            top: -50%;
            width: 150%;
            height: 150%;
            background-color: var(--global-bck-color-l1);
            background-repeat: no-repeat;
            background-size: 50% 50%, 50% 50%;
            background-position: 0 0, 100% 0, 100% 100%, 0 100%;
            background-image: none;
            animation: rotate 4s linear infinite reverse;
        }
    
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 1px;
            top: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: var(--global-bck-color-l1);
            border-radius: 5px;
        }
    
        &:nth-child(1){
            &::before{
                background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(#00FF76, #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
                animation: rotate1 3s linear infinite reverse;
                animation-delay: 2s;
                opacity: 0;
            }
        }
    
        &:nth-child(2){
            &::before{
                background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(#00FF76, #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
                animation: rotate2 6s linear infinite reverse;
                animation-delay: 1s;
                opacity: 0;
            }
        }
    
        &:nth-child(3){
            &::before{
                background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(#00FF76, #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
                animation: rotate2 3s linear infinite reverse;
                animation-delay: 5s;
                opacity: 0;
            }
        }
        
        &:nth-child(4){
            &::before{
                animation-delay: 7s;
                opacity: 0;
            }
        }
    
        &:nth-child(5){
            &::before{
                animation-delay: 5s;
                opacity: 0;
            }
        }

        & .icon-span{
            display: inline-flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            padding: 5px 10px 5px 0px;
            font-size: var(--index-fnt-size-15px);
        }

    }
}

#about{
    max-width: 850px;
    display: grid;
    gap: 10px;

    & p {
        font-size: 17px;
    }
}



@keyframes rotate1 {
    15%{
        background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-fnt-color-l2), #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
        opacity: 1;
    }
	100% {transform: rotate(1turn);}
}

@keyframes rotate2 {
    50%{
        background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-fnt-color-l2), #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
        opacity: 1;
    }
	100% {transform: rotate(1turn);}
}

@keyframes rotate3 {
    50%{
        background-image: linear-gradient(var(--global-fnt-color-l2), #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-fnt-color-l2), #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
        opacity: 1;
    }
	100% {transform: rotate(1turn);}
}

@keyframes rotate {
    10%{
        background-image: linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1)), linear-gradient(var(--global-fnt-color-l2), #00FF7600), linear-gradient(var(--global-bck-color-l1), var(--global-bck-color-l1));
        opacity: 1;
    }
	100% {transform: rotate(1turn);}
}

@media only screen and (max-width: 428px) {
    #project {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}
