/** Import inter font family **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/** Reset style **/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--index-fnt-color);
}

body{
    width: 100%;
    background-color: var(--index-bck-color);
}

.span-index{
    color: var(--index-pri-1-color);
}

/* Estilos para el texto seleccionado */
::selection {
    background-color: var(--index-bck-hvr-btn-color); /* Cambia el color de fondo del texto seleccionado */
    color: var(--index-fnt-color-l1); /* Cambia el color del texto seleccionado */
}

:root {

    /** Color set **/
    --index-fnt-color: #D3D3D3;
    --index-fnt-hvr-color: #FFFFFF;
    --index-fnt-color-l1: #00FF76;

    --index-bck-color: #131313;
    --index-bck-hvr-color: #1b1b1b;
    --index-brd-color: #1B1B1B;
    /* --index-brd-color: #3B3B3B; */


    /** Font size set **/
    --index-fnt-size-15px: 15px;
    --index-fnt-size-18px: 18px;
    --index-fnt-size-clamp: clamp(25px, 3vw, 35px);
    --index-fnt-weight: 500;

    /** Side bar color set **/
    --index-bck-dot-color: #3B3B3B;
    --index-bck-bar-color: #4E4E4E;

    /** Current status color**/
    --index-pri-1-color: #00FF76;
    --index-scn-1-color: #00FF7625;

    --index-pri-0-color: #ff2121;
    --index-scn-0-color: #ff212125;

    /** Action button color**/
    --index-bck-btn-color: #00FF76;
    --index-bck-hvr-btn-color: #00FF7625;
    --index-fnt-btn-color: #131313;

}

/** ========== header start ========== **/
header {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--index-brd-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .profile{
        display: flex;
        gap: 10px;
        justify-content: start;
        align-items: center;
        position: relative;
        
        & .profile-img{
            position: relative;

            img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
            }
        }

        & .profile-img::after{
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            outline: 2px solid var(--index-bck-color);
            /** CURRENT STATUS **/
            background-color: var(--index-pri-1-color);
            /** CURRENT STATUS **/
            border-radius: 10px;
            bottom: 5px;
            right: 5px;
        }
            

        & h2 {
            font-size: var(--index-fnt-size-18px);
            font-weight: normal;
        }
    }

    & .status-cvc{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        
        & .current-status {
            padding: 10px 15px;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            border-radius: 50px;

            /** CURRENT STATUS **/
            border: 1px solid var(--index-brd-color);
        }

    }
}

& #nav-link-menu {
    display: flex;
    gap: 5px;
    align-items: center;
    & li {
        list-style: none;

        & .header-menu-link{
            padding: 10px 12px;
            border-radius: 50px;
            /** CURRENT STATUS **/
            border: 1px solid var(--index-brd-color);
        }

        & .header-menu-link:hover{
            /** CURRENT STATUS **/
            background-color: var(--index-bck-hvr-btn-color);
            border: 1px solid var(--index-scn-1-color);
            /** CURRENT STATUS **/

            transition: all .3s ease;
        }
    }
}

/** Current satus container for text **/
.current-status {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    /** CURRENT STATUS **/
    color: var(--index-pri-1-color);
    font-style: italic;
    font-size: 15px;
}

/** Status dot **/
.status-dot{
    width: 8px;
    height: 8px;
    position: absolute;

    /** CURRENT STATUS **/
    background-color: var(--index-pri-1-color);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dot-status .5s infinite;
    /** CURRENT STATUS **/
    outline: 5px solid var(--index-scn-1-color);
}

/** CURRENT STATUS **/
@keyframes dot-status {
    0% {outline: 0px solid var(--index-scn-1-color);}
    25% {outline: 2.5px solid var(--index-scn-1-color);}
    50% {outline: 5px solid var(--index-scn-1-color);}
    100% {outline: 5px solid transparent;}
}

/** Download CVC button **/
.download-cvc {
    padding: 10px 15px;
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: var(--index-bck-btn-color);
    color: var(--index-fnt-btn-color);
    border-radius: 50px;
    cursor: pointer;
    outline: 5px solid transparent;
    text-decoration: none;

    & i { color: var(--index-fnt-btn-color); }
}

.download-cvc:hover {
    outline: 5px solid var(--index-bck-hvr-btn-color);
    transition: .3s ease-in;
    animation: scale-btn .5s infinite;
}

@keyframes scale-btn {
    0% {outline: 0px solid var(--index-bck-hvr-btn-color);}
    25% {outline: 5px solid var(--index-bck-hvr-btn-color);}
    50% {outline: 10px solid var(--index-bck-hvr-btn-color);}
    100% {outline: 10px solid transparent;}
}
/** ========== header end ========== **/

/** ========== main start ========== **/
main {
    width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: auto 400px;
    grid-template-rows: auto auto;

    & #about{
        padding: 20px;
        height: 283px;
        border: 1px solid var(--index-brd-color);
        border-radius: 5px;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & .about-header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .about-main{
            max-height: 190px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    & #my-project{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        border: 1px solid var(--index-brd-color);
        border-radius: 5px;
        grid-column: 2;
        grid-row: 1 / span 2;

        & #project{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
            gap: 15px;

            & .project-js{
                width: 100%;
                border: 1px solid var(--index-brd-color);
                border-radius: 5px;
                overflow: hidden;

                & h2 {
                    padding: 15px;
                    font-size: var(--index-fnt-size-18px);
                    font-weight: var(--index-fnt-weight);
                }

                & a{
                    display: flex;
                    gap: 10px;
                    padding: 15px;
                    border-top: 1px solid var(--index-brd-color);
                    text-decoration: none;
                }

                & a:hover{
                    transition: .3s ease;
                    text-decoration: underline;
                    background-color: var(--index-bck-hvr-color);
                }
            }
        }
    }

    & #skils-learn{
        width: 100%;
        display: grid;
        gap: 40px;
        grid-template-columns: auto auto;

        & .learning, .skills{
            height: 180px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 20px;
            border: 1px solid var(--index-brd-color);
            border-radius: 5px;

            & .icon-span{
                display: inline-flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
                padding: 5px 10px 5px 0px;
                font-size: var(--index-fnt-size-15px);
            }
        }
    }
}
/** ========== main end ========== **/

/** ========== footerstart ========== **/
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
/** ========== footer end ========== **/

@media screen and (max-width: 1000px) {
    header {
        padding: 10px;
    }

    main {
        gap: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
         
        & #about{
            padding: 10px;
            grid-column: unset;
        }
    
        & #my-project{
            padding: 10px;
            grid-column: unset;
            grid-row: unset;
        }
    
        & #skils-learn{
            grid-template-columns: auto;
            gap: 20px;
            grid-column: unset;
    
            & .learning{
                padding: 10px;
            }
    
            & .skills{
                padding: 10px;
            }
        }
    }

    footer{
        margin-top: 20px;
    }
}

@media screen and (max-width: 370px) {
    main{
    & #my-project{
            & #project{
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }
        }
    }
}
